<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.clp.login">

    <application>
        <activity
            android:name="cn.clp.login.views.SplashActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.clp.login.views.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Activity.Theme.Transparent" />
    </application>
</manifest>